"*":
  "SFTP-deployment": {}
  _dart:
    _firstRun: true
    _version: "1.0.1"
  "atom-beautify":
    general:
      _analyticsUserId: "593fe7f6-d159-4101-9898-9b52b61c806f"
    php: {}
  "atom-ide-ui":
    "atom-ide-code-format":
      formatOnSave: true
  "atom-package-deps":
    ignored: []
  "autocomplete-plus":
    autoActivationDelay: 500
  autosave:
    enabled: true
  core:
    automaticallyUpdate: false
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-haml"
      "emmet"
      "whitespace"
      "minimap"
      "json-lint-provider"
      "flex-tool-bar"
      "vim-mode-plus"
      "ide-typescript"
      "linter-jshint"
      "FontSearch"
      "language-gfm"
      "atom-autocomplete-php"
      "linter-json-lint"
      "linter"
      "git-control"
      "git-projects"
      "open-on-github"
      "dart"
    ]
    followSymlinks: false
    telemetryConsent: "limited"
    themes: [
      "one-light-ui"
      "one-light-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    showInvisibles: true
    softWrap: true
    tabType: "soft"
    useShadowDOM: false
    zoomFontWhenCtrlScrolling: true
  "exception-reporting":
    userId: "b3b1de43-0439-a3a4-29a1-1633875ee47f"
  github:
    showDiffIconGutter: true
  "go-plus":
    test:
      coverageHighlightMode: "disabled"
      runTestsWithShortFlag: false
      runTestsWithVerboseFlag: true
  linter: {}
  "linter-eslint":
    disabling:
      rulesToSilenceWhileTyping: [
        "no-console"
        "no-todo-statements"
      ]
  "linter-haml": {}
  "linter-ui-default":
    panelHeight: 57
  "markdown-pdf":
    border: "10mm"
    format: "Letter"
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-themeable-pdf":
    codeHighlightingTheme: "brown-paper.css"
    enableXHTML: true
    format: "Letter"
    pageBorder: "0.4in"
  minimap: {}
  "php-cs-fixer":
    allowRisky: false
    executablePath: "/usr/local/bin/php-cs-fixer"
    executeOnSave: true
    phpExecutablePath: "/usr/bin/php"
    rules: "-psr0,@PSR2,binary_operator_spaces,blank_line_before_return,..."
    showInfoNotifications: false
  react: {}
  "tool-bar":
    iconSize: "16px"
    position: "Right"
    visible: true
  "tool-bar-almighty":
    custom: "/custom_entries.json"
    override: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    startInInsertMode: true
  welcome:
    showOnStartup: false
".html.php.text":
  editor:
    showIndentGuide: false
    tabLength: 4
".java.source":
  editor:
    showIndentGuide: false
