# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# https://atom.io/docs/latest/using-atom-basic-customization#cson

'.text.html.php':
  'error_log':
    'prefix': 'print'
    'body': 'error_log(__METHOD__ . " | " . __LINE__ . " LOG : " . print_r(${1}, 1));'
  'error_log2':
    'prefix': 'log'
    'body': 'error_log(__METHOD__ . " | " . __LINE__ . " LOG : " . print_r(${1}, 1));'
  'ip_us':
    'prefix': 'ip_us'
    'body': '$client_ip = "198.7.59.119"; // US'
  'ip_gb':
    'prefix': 'ip_gb'
    'body': '$client_ip = "185.86.151.11"; // ENGLAND'
  'ip_ca':
    'prefix': 'ip_ca'
    'body': '$client_ip = "204.101.161.58"; // CANADA'
  'author':
    'prefix': 'brooke'
    'body': 'Brooke Fox <brooke.fox@aofl.com>'
  'var_dump':
    'prefix': 'var'
    'body': 'var_dump(${1});'
'.source.js':
  'console.log':
    'prefix': 'log'
    'body': 'console.log(${1}, "color:deeppink;font-size:20px;", ${2});$3'
