// ----------------------------------------------- VARIABLES
@font:               "Source Code Pro";
@sans-serif:         "Inconsolata";
@yellow:             lemonchiffon;
@pink:               deeppink;
@lightpink:          orchid;
@darkmagenta:        mediumvioletred;
@darkpink:           rgb(214, 21, 212);
@green:              forestgreen;
@lightgreen:         rgb(56, 181, 31);
@brightgreen:        rgb(66, 237, 45);
@tealgreen:          rgb(0, 199, 127);
@darkblue:           darkblue;
@blue:               rgb(0, 26, 255);
@lightblue:          rgb(32, 161, 255);
@indigo:             indigo;
@purple-blue:        slateblue;
@purple:             #6a0be3;
@teal:               rgb(30, 178, 182);
@darkteal:           darken(#0184bc, 10%);
@turq:               #12d0d0;
@orange:             darken(darkorange, 7%);
@darkgrey:           darken(darkgrey, 25%);
@lightgrey:          #f0f0f0;
@treeview-font-size: 8pt;
@editor-font-size:   11pt;
@tabs-font-size:     6pt;



// ----------------------------------------------- TREE VIEW
.theme-one-light-ui {
  .status-bar, .tab-bar, .tree-view {
    background-color: @lightgrey;
    font-size: @treeview-font-size;
    font-family: @font, monospace;
    font-weight: 300;
    color: @darkblue;
  }
}

.file.entry.list-item.status-modified > span.icon-file-text {
  color: @orange;
}

.file.entry.list-item.status-staged > span.icon-file-text {
  color: @pink;
}

.file.entry.list-item.status-added > span.icon-file-text {
  color: @lightgreen;
}

.tree-view .entry.directory.status-ignored > .header,
.tree-view .entry.status-ignored .icon-file-directory {
  color: #ababab;
  font-style: italic;
}

.name.icon.icon-file-directory, .name.icon.icon-file-text {
  color: @darkblue;
}

.tab.sortable.active > div.title {
  font-weight: bolder;
  color: @darkblue;
  border-bottom: 2px solid @green;
}

atom-pane > .list-inline.tab-bar.inset-panel > li.tab.sortable.active > div.title > p {
  font-size: 6pt;
  line-height: 6px;
  margin-top: -6px;
  color: @lightblue;
}



// ----------------------------------------------- EDITOR
atom-text-editor {
  background-color: @lightgrey;
  color: @darkgrey;
  font-family: @font, monospace;
  font-weight: lighter;
  font-size: @editor-font-size;
}

li.texteditor .title { font-size: @tabs-font-size; }
.tab-bar .tab .title.title:before { margin-right: 0.3em; }
.tab-bar { height: 3.5em; }
.tab-bar .tab .title, .tab-bar .tab.active .title { padding: 5px; }
.tab-bar .tab .close-icon, .tab-bar .tab.modified:not(:hover) .close-icon { top: 1em; }

.select-list ol.list-group.mark-active li.active:before, .select-list ol.list-group.mark-active li.active:before { color: @green; }
.list-group li:not(.list-nested-item), .list-group li:not(.list-nested-item).selected { color: @darkblue; }
.select-list ol.list-group li.two-lines .secondary-line, .select-list ol.list-group li.two-lines.selected .secondary-line { color: @lightgreen; }

.tab-bar .tab .close-icon:hover,
.tooltip .tooltip-inner {
  background-color: @darkmagenta;
}

.editor .selection .region {
  background-color: @yellow;
}

atom-text-editor::shadow .cursor {
 border-color: @pink;
 border-left-width: medium;
}

atom-text-editor::shadow .highlight.find-result .region {
  border: 1px dotted @indigo;
  background-color: inherit;
}

atom-text-editor .gutter .line-number.git-line-modified {
  border-left: 2px solid @orange;
}

// .editor .cursor-line .invisible-character {
//   opacity: 100!important;
// }
// 
// .editor .line .invisible-character {
//   opacity: 0;
// }

.editor .invisible-character {
  color: darken(@lightgrey, 5%);
}



// ----------------------------------------------- GENERAL
.syntax--keyword.syntax--control {
  font-weight: bolder;
}

.syntax--string {
  color: @lightgreen!important;
  font-weight: lighter!important;
}

.syntax--punctuation {
  color: @darkblue;
  font-weight: bolder;
}

.syntax--constant.syntax--string {
  color: @purple-blue!important;
  font-weight: bold!important;
}

.syntax--storage {
  color: @darkpink;
  font-weight: bold;
}

.syntax--variable {
  color: @teal;
}

.syntax--keyword.syntax--control {
  color: @darkmagenta;
  font-weight: bold;
}

.syntax--entity.syntax--name.syntax--tag {
  color: @darkmagenta;
  font-weight: bold;
}

.syntax--constant, .syntax--support.syntax--class {
  color: @darkmagenta;
}

.syntax--support.syntax--class {
  font-weight: bold;
}

.syntax--function.syntax--parameters,
.syntax--variable.syntax--parameter {
  color: @orange;
  font-weight: lighter;
}

.syntax--operator.syntax--arithmetic {
  color: @darkpink!important;
  font-weight: bold;
}

.syntax--delimiter {
  color: @darkteal!important;
  font-weight: bold;
}

.syntax--punctuation.syntax--definition.syntax--function.syntax--begin,
.syntax--punctuation.syntax--definition.syntax--function.syntax--end .syntax--punctuation.syntax--definition.syntax--parameters.syntax--end.syntax--function.syntax--es,
.syntax--punctuation.syntax--definition.syntax--parameters.syntax--begin.syntax--function.syntax--es {
  color: @darkteal!important;
}

.syntax--constant.syntax--language.syntax--boolean {
  color: @orange;
}



// ----------------------------------------------------- HTML
.syntax--punctuation.syntax--tag.syntax--html,
.syntax--punctuation.syntax--tag.syntax--html {
  color: @darkteal;
}

.syntax--attribute-name.syntax--html {
  font-weight: bolder!important;
}

.syntax--string.syntax--quoted.syntax--double.syntax--html {
  font-weight: lighter!important;
}

.syntax--attribute-name.syntax--html,
.syntax--attribute-name.syntax--html.syntax--angular,
.syntax--entity.syntax--other.syntax--attribute-name,
.syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--html {
  font-weight: bolder;
  color: @purple-blue;
}



// ----------------------------------------------- JAVASCRIPT
.syntax--source.syntax--js.syntax--keyword.syntax--operator {
  font-weight: bolder;
  color: @darkteal;
}

.syntax--meta.syntax--delimiter.syntax--method.syntax--period.syntax--js,
.syntax--meta.syntax--delimiter.syntax--object.syntax--comma.syntax--js,
.syntax--punctuation.syntax--separator.syntax--key-value.syntax--js,
.syntax--keyword.syntax--operator.syntax--relational.syntax--js,
.syntax--punctuation.syntax--terminator.syntax--statement.syntax--js,
.syntax--operator.syntax--assignment.syntax--js {
  color: @darkteal!important;
  font-weight: bold;
}

.syntax--constant.syntax--language.syntax--boolean.syntax--js,
.syntax--constant.syntax--language.syntax--null.syntax--js,
.syntax--constant.syntax--numeric.syntax--js {
  color: @orange;
}

.syntax--string.syntax--unquoted.syntax--js-label.syntax--js {
  color: @darkpink!important;
  font-weight: bolder!important;
}

.syntax--entity.syntax--name.syntax--function.syntax--js {
  color: @blue;
  font-weight: bolder;
}



// ----------------------------------------------- ANGULAR
.punctuation.definition.block.begin.angular,
.punctuation.definition.block.end.angular,
.syntax--punctuation.syntax--definition.syntax--block.syntax--begin.syntax--angular,
.syntax--punctuation.syntax--definition.syntax--block.syntax--end.syntax--angular {
  font-weight: bold!important;
  color: @darkmagenta!important;
}



// ----------------------------------------------- RUBY
.class.ruby {
  color: @pink;
  font-weight: bolder;
}

.entity.name.type.class.ruby {
  color: #4a0f79;
}

.variable.other.constant.ruby {
  color: @teal;
  font-weight: bolder;
}

.keyword.control.start-block.ruby, .keyword.control.ruby, .keyword.control.js {
  font-weight: bolder;
  color: @purple;
}

.support.function.rails {
  font-style: italic;
  font-weight:bold;
  color: @tealgreen;
}

.variable.instance.ruby, .punctuation.definition.variable.ruby {
  color: @darkpink;
}

.constant.numeric.ruby {
  color: @blue;
}

.string.quoted.single.ruby, .string.quoted.double.interpolated.ruby {
  color: @lightgreen;
}



// ----------------------------------------------- JAVA
.entity.name.type.class.java {
  color: @purple;
  font-weight: bold;
}

.storage.type.java {
  color: @teal;
  font-weight: bold;
}



// ----------------------------------------------- JSON
.syntax--meta.syntax--structure.syntax--dictionary.syntax--json:not(.syntax--value) > .syntax--string.syntax--quoted.syntax--double.syntax--json {
  color: @purple;
  font-style: italic;
}

.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation.syntax--string {
  color: @purple;
}



// ----------------------------------------------- CSS
.syntax--punctuation.syntax--css {
  color: inherit!important;
  font-style: inherit!important;
}

.syntax--constant.syntax--numeric.syntax--css,
.syntax--keyword.syntax--other.syntax--unit.syntax--css {
  color: #383a42;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
  color: @green;
  font-weight: bold;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class.syntax--css {
  color: @teal;
  font-weight: bold;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css {
  color: @darkmagenta;
  font-weight: bold;
}

.syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: @darkteal;
  font-weight: bold;
}

.syntax--variable.syntax--other.syntax--less {
  font-weight: bolder;
}
