// ------------------------------------------------------------------- VARIABLES
@font:        "Source Code Pro";
@sans-serif:  "Inconsolata";
@serif:       "Menlo";
@yellow:      lemonchiffon;
@pink:        deeppink;
@lightpink:   orchid;
@darkmagenta: mediumvioletred;
@darkpink:    rgb(214, 21, 212);
@green:       forestgreen;
@lightgreen:  rgb(56, 181, 31);
@brightgreen: rgb(66, 237, 45);
@darkblue:    darkblue;
@blue:        rgb(0, 26, 255);
@lightblue:   rgb(32, 161, 255);
@purple-blue: slateblue;
@purple:      #6a0be3;
@brightpurple:#6F2DB4;
@teal:        rgb(30, 178, 182);
@darkteal:    darken(#0184bc, 10%);
@turq:        #12d0d0;
@orange:      darken(darkorange, 6%);
@darkgrey:    darken(darkgrey, 25%);
@lightgrey:   #f0f0f0;



// ------------------------------------------------------------------- TREE VIEW
.theme-one-light-ui {
  .status-bar,
  .tab-bar,
  .tree-view {
    background-color: @lightgrey;
    font-size: 8pt;
    font-family: @font, monospace;
    // font-weight: lighter;
    color: @darkblue;
  }
}

.file.entry.list-item.status-modified > span.icon-file-text {
  color: @orange;
}

.file.entry.list-item.status-staged > span.icon-file-text {
  color: @pink;
}

.file.entry.list-item.status-added > span.icon-file-text {
  color: @lightgreen;
}

.tree-view .entry.directory.status-ignored > .header,
.tree-view .entry.status-ignored .icon-file-directory {
  color: #ababab;
  font-style: italic;
}

.name.icon.icon-file-directory, .name.icon.icon-file-text {
  color: @darkblue;
}

.tab.sortable.active > div.title {
  font-weight: 500;
  color: @darkmagenta;
  border-bottom: 3px solid @darkmagenta;
}

atom-text-editor .gutter, :host .gutter {
  background-color: #f0f0f0!important;
  color: @darkblue!important;
}



// ---------------------------------------------------------------------- EDITOR
atom-text-editor {
  background-color: @lightgrey;
  color: @darkgrey;
  font-family: @font, monospace;
  font-weight: normal;
  // font-size: 10pt;
}

li.texteditor .title { font-size: 7pt; }
.tab-bar .tab .title.title:before { margin-right: 0.3em; }
.tab-bar { height: 3.5em; }
.tab-bar .tab .title, .tab-bar .tab.active .title { padding: 5px; }
.tab-bar .tab .close-icon, .tab-bar .tab.modified:not(:hover) .close-icon { top: 1em; }

.select-list ol.list-group.mark-active li.active:before, .select-list ol.list-group.mark-active li.active:before {
  color: @green;
}
.list-group li:not(.list-nested-item), .list-group li:not(.list-nested-item).selected {
  color: @darkblue;
}
.select-list ol.list-group li.two-lines .secondary-line, .select-list ol.list-group li.two-lines.selected .secondary-line {
  color: @lightgreen;
}

.tab-bar .tab .close-icon:hover,
.tooltip .tooltip-inner {
  background-color: @darkmagenta;
}

.editor .selection .region {
  background-color: @yellow;
}

atom-text-editor::shadow {
  .selection .region {
    background-color: @yellow!important;
  }
}

atom-text-editor::shadow .cursor {
 border-color: @pink;
 border-left-width: medium;
}

atom-text-editor::shadow .highlight.find-result .region {
  border: 1px dotted indigo;
  background-color: inherit;
}

atom-text-editor .gutter .line-number.git-line-modified {
  border-left: 2px solid @orange;
}

// .editor .cursor-line .invisible-character {
//   opacity: 100!important;
// }
// 
// .editor .line .invisible-character {
//   opacity: 0;
// }

.editor .invisible-character {
  color: darken(@lightgrey, 5%);
}




// --------------------------------------------------------------------- ANGULAR
.punctuation.definition.block.begin.angular,
.punctuation.definition.block.end.angular,
.syntax--punctuation.syntax--definition.syntax--block.syntax--begin.syntax--angular,
.syntax--punctuation.syntax--definition.syntax--block.syntax--end.syntax--angular {
  font-weight: bold!important;
  color: @darkmagenta!important;
}

.syntax--attribute-name.syntax--html.syntax--angular,
.syntax--entity.syntax--other.syntax--attribute-name,
.syntax--entity.syntax--other.syntax--attribute-name.syntax--id.syntax--html {
  font-weight: bolder;
  color: @purple-blue;
}



// --------------------------------------------------------------------- GENERAL
.syntax--keyword.syntax--control {
  font-weight: bolder;
}

.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--js,
.syntax--string {
  color: @lightgreen!important;
  font-weight: normal!important;
}

atom-text-editor.editor .syntax--punctuation {
  color: @darkblue;
  font-weight: bold;
}

.syntax--constant.syntax--string {
  color: @purple-blue!important;
  font-weight: bold!important;
}

.syntax--storage {
  color: @darkpink;
  font-weight: bold;
}

.syntax--variable {
  color: @teal;
}

.syntax--keyword.syntax--control {
  color: @darkmagenta;
  font-weight: bold;
}

.syntax--entity.syntax--name.syntax--tag {
// .syntax--punctuation.syntax--definition.syntax--tag.syntax--begin.syntax--html,
// .syntax--punctuation.syntax--definition.syntax--tag.syntax--end.syntax--html {
  // color: mediumblue;
  // color: @lightpink;
  color: @darkmagenta;
  font-weight: bold;
}

// .syntax--string.syntax--quoted.syntax--double.syntax--html {
//   color: mediumblue!important;
// }

.syntax--constant, .syntax--support.syntax--class {
  color: @darkmagenta;
  // font-weight: bold;
  // font-style: italic;
}

.syntax--support.syntax--class {
  font-weight: bold;
}

.syntax--function.syntax--parameters, .syntax--variable.syntax--parameter {
  color: @orange;
  font-weight: lighter;
}

.punctuation.separator.key-value {
  color: @orange;
}

.keyword.control.def.es {
  font-style: italic;
}

.syntax--operator.syntax--arithmetic {
  color: @darkmagenta!important;
}

.syntax--delimiter {
  color: @darkteal!important;
  font-weight: bold;
}

.syntax--invalid.syntax--illegal.syntax--bad-ampersand.syntax--html {
  background-color: inherit!important;
  color: inherit!important;
}



// ------------------------------------------------------------------ JAVASCRIPT
.syntax--source.syntax--js .syntax--keyword.syntax--operator {
  font-weight: bolder;
  color: @darkteal;
}

.function.js {
  color: @turq;
  font-style: italic;
}

.parameter.function.js {
  color: @orange;
}

.support.constant.js {
  color: rgb(251, 166, 65);
  // font-weight: bolder;
}

.variable.other.js {
  color: @purple;
  font-style: italic;
}
.storage.type.js {
  color: #00d2ad;
  // font-weight: bold;
}

.syntax--constant.syntax--language.syntax--boolean.syntax--js,
.syntax--constant.syntax--language.syntax--null.syntax--js,
.syntax--constant.syntax--numeric.syntax--js {
  color: @orange;
  // font-weight: bold;
}

.syntax--entity.syntax--name.syntax--function.syntax--js {
  color: @blue;
  font-weight: bolder;
}



// ------------------------------------------------------------------ TYPESCRIPT
.syntax--meta.syntax--object-literal.syntax--key.syntax--ts.punctuation.syntax--separator.syntax--key-value.syntax--ts {
  background-color: inherit;
}

.syntax--meta.syntax--object-literal.syntax--key.syntax--ts {
  font-weight: bolder;
  color: @darkpink;
}

.syntax--constant.syntax--language.syntax--boolean.syntax--false.syntax--ts {
  font-weight: bold;
  color: @orange;
}

.syntax--constant.syntax--numeric.syntax--decimal.syntax--ts {
  color: @purple;
}

.syntax--variable.syntax--other.syntax--readwrite.syntax--alias.syntax--ts {
  font-weight: bolder;
}

.syntax--meta.syntax--definition.syntax--method.syntax--ts.entity.syntax--name.syntax--function.syntax--ts {
  color: @turq;
  font-weight: bolder;
}

.syntax--support.syntax--type.syntax--primitive.syntax--ts {
  font-style: italic;
}

.syntax--entity.syntax--name.syntax--type.syntax--class.syntax--ts,
.syntax--meta.syntax--definition.syntax--property.syntax--ts.variable.syntax--object.syntax--property.syntax--ts,
.syntax--entity.syntax--name.syntax--type.syntax--ts,
.syntax--meta.syntax--brace.syntax--square.syntax--ts {
  color: @brightpurple;
}



// ------------------------------------------------------------------------ RUBY
.class.ruby {
  color: @pink;
  font-weight: bolder;
}

.entity.name.type.class.ruby {
  color: #4a0f79;
}

.variable.other.constant.ruby {
  color: @teal;
  font-weight: bolder;
}

.keyword.control.start-block.ruby, .keyword.control.ruby, .keyword.control.js {
  font-weight: bolder;
  color: @purple;
}

.support.function.rails {
  font-style: italic;
  font-weight:bold;
  color: rgb(0, 199, 127);
}

.variable.instance.ruby, .punctuation.definition.variable.ruby {
  color: @pink;
}

.constant.numeric.ruby {
  // font-weight: bold;
  color: @blue;
}

.string.quoted.single.ruby, .string.quoted.double.interpolated.ruby {
  color: @lightgreen;
}



// ------------------------------------------------------------------------ JAVA
.entity.name.type.class.java {
  color: @purple;
  font-weight: bold;
}

.storage.type.java {
  color: @teal;
  font-weight: bold;
}



// ------------------------------------------------------------------------ JSON
atom-text-editor.editor .syntax--meta.syntax--structure.syntax--dictionary.syntax--json:not(.syntax--value) > .syntax--string.syntax--quoted.syntax--double.syntax--json {
  color: @purple;
  font-style: italic;
}

.syntax--source.syntax--json .syntax--meta.syntax--structure.syntax--dictionary.syntax--json > .syntax--string.syntax--quoted.syntax--json > .syntax--punctuation.syntax--string {
  color: @purple;
}



// ------------------------------------------------------------------------- CSS
.syntax--punctuation.syntax--css {
  color: inherit!important;
  font-style: inherit!important;
}

.syntax--constant.syntax--numeric.syntax--css,
.syntax--keyword.syntax--other.syntax--unit.syntax--css {
  color: #383a42;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
  color: @green;
  font-weight: bold;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--pseudo-class.syntax--css {
  color: @teal;
  font-weight: bold;
}

.syntax--entity.syntax--other.syntax--attribute-name.syntax--class.syntax--css {
  color: @darkmagenta;
  font-weight: bold;
}

.syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: @darkteal;
  font-weight: bold;
}

.syntax--variable.syntax--other.syntax--less {
  font-weight: bolder;
}



// ------------------------------------------------------------------------- SQL
.syntax--keyword.syntax--other.syntax--sql {
  color: @teal;
  font-weight: bold;
  text-transform: uppercase;
}

.syntax--entity.syntax--name.syntax--function.syntax--sql,
.syntax--constant.syntax--other.syntax--database-name.syntax--sql,
.syntax--constant.syntax--other.syntax--table-name.syntax--sql {
  color: @darkmagenta;
  font-style: italic;
}

.syntax--source.syntax--sql {
  color: @darkblue;
}

.syntax--constant.syntax--numeric.syntax--sql {
  color: @darkmagenta;
  font-weight: bold;
}



// ------------------------------------------------------------------------- PHP
.syntax--entity.syntax--name.syntax--function.syntax--php,
.syntax--constant.syntax--numeric.syntax--decimal.syntax--php {
  font-weight: bold;
  color: @darkmagenta;
}
.syntax--keyword.syntax--operator.syntax--nullable-type.syntax--php {
  font-weight: bold;
  color: @blue;
}

.syntax--constant.syntax--language.syntax--php,
.syntax--constant.syntax--other.syntax--class.syntax--php {
  font-weight: bold;
  color: @orange;
}

.syntax--keyword.syntax--operator.syntax--comparison.syntax--php,
.syntax--keyword.syntax--operator.syntax--logical.syntax--php {
  font-weight: 500;
  color: @blue;
}

.syntax--storage.syntax--modifier.syntax--php,
.syntax--storage.syntax--type.syntax--function.syntax--php, {
  color: @green;
}

.syntax--variable.syntax--other.syntax--php {
  color: @teal;
}

.syntax--string.syntax--quoted.syntax--single.syntax--php,
.syntax--string.syntax--quoted.syntax--double.syntax--php,
.syntax--punctuation.syntax--definition.syntax--string.syntax--begin.syntax--php,
.syntax--punctuation.syntax--definition.syntax--string.syntax--end.syntax--php {
  color: @green!important;
}

.syntax--meta.syntax--namespace.syntax--php,
.syntax--keyword.syntax--other.syntax--namespace.syntax--php,
.syntax--keyword.syntax--other.syntax--use.syntax--php,
.syntax--keyword.syntax--other.syntax--use-as.syntax--php {
  color: @purple!important;
  font-weight: bold;
}

.syntax--entity.syntax--name.syntax--type.syntax--class.syntax--php,
.syntax--entity.syntax--name.syntax--type.syntax--namespace.syntax--php,
.syntax--support.syntax--class.syntax--php {
  font-weight: bold!important;
  font-style: italic;
  color: @green;
}

.syntax--support.syntax--function.syntax--construct.syntax--php,
.syntax--support.syntax--function.syntax--array.syntax--php {
  color: @darkmagenta;
  font-weight: 600;
}

.syntax--punctuation.syntax--bracket.syntax--php,
.syntax--punctuation.syntax--section.syntax--array.syntax--php {
  font-weight: 500;
}

.syntax--punctuation.syntax--definition.syntax--variable.syntax--php {
  font-weight: 600;
  color: @darkblue;
}

.syntax--variable.syntax--other.syntax--php {
  font-weight: 400;
  // color: @green;
}

.syntax--constant.syntax--other.syntax--php {
  font-weight: 500;
  color: @darkblue;
}



// ----------------------------------------------------------------------- PROTO
.syntax--storage.syntax--modifier.syntax--prefix.syntax--protobuf,
.syntax--storage.syntax--type.syntax--instance.syntax--protobuf {
  font-weight: bold;
  color: @darkmagenta;
}

.syntax--instance.syntax--name.syntax--protobuf {
  font-weight: 800;
  color: @darkgrey;
}

.syntax--entity.syntax--name.syntax--class.syntax--custom.syntax--protobuf,
.syntax--support.syntax--function.syntax--decl.syntax--protobuf,
.syntax--keyword.syntax--other.syntax--package.syntax--protobuf,
.syntax--support.syntax--function.syntax--decl.syntax--protobuf,
.syntax--keyword.syntax--rpc.syntax--rpc.syntax--protobuf {
  font-weight: 400;
  color: @green;
}

.syntax--storage.syntax--modifier.syntax--prefix.syntax--protobuf,
// .syntax--constant.syntax--numeric.syntax--protobuf,
.syntax--keyword.syntax--rpc.syntax--rpc.syntax--protobuf,
.syntax--instance.syntax--name.syntax--protobuf {
  font-style: italic;
}

.syntax--variable.syntax--parameter.syntax--protobuf,
.syntax--support.syntax--class.syntax--package.syntax--protobuf {
  font-weight: bold;
  color: @brightpurple;
  // color: @teal;
}

.syntax--entity.syntax--name.syntax--function.syntax--rpc.syntax--protobuf {
  font-weight: bold;
  // color: @teal;
  // color: @brightpurple;
  color: @green;
}




// -------------------------------------------------------------------- MARKDOWN
.markdown-body {
  h1, h2, h3, h4, h5, h6 {
    color: @darkmagenta;
    font-family: @font, monospace;
    font-weight: bold;
  }
  h1 { font-size: 18px; }
  h2 { font-size: 16px; }
  h3 { font-size: 14px; }
  h4 { font-size: 12px; }
  h5, h6 { font-size: 10px; }
  * {
    font-family: @sans-serif;
    font-size: 8px;
  }
}

.markdown-preview:not([data-use-github-style]) {
  font-family: @serif;
  font-size: 10px;
}

.markdown-preview:not([data-use-github-style]) atom-text-editor {
  border-radius: 10px;
  font-family: @font, monospace;
}

.markdown-preview:not([data-use-github-style]) code {
  border-radius: 3px;
  color: @darkblue;
  font-family: @font, monospace;
}

.markdown-preview:not([data-use-github-style]) h1,
.markdown-preview:not([data-use-github-style]) h2,
.markdown-preview:not([data-use-github-style]) h3,
.markdown-preview:not([data-use-github-style]) h4,
.markdown-preview:not([data-use-github-style]) h5 {
  font-weight: bold;
}
.markdown-preview:not([data-use-github-style]) h1 {
  color: @darkmagenta;
}
.markdown-preview:not([data-use-github-style]) h2 {
  color: @teal;
}
.markdown-preview:not([data-use-github-style]) h3 {
  color: @orange;
}
.markdown-preview:not([data-use-github-style]) h4 {
  color: @darkmagenta;
}
.markdown-preview:not([data-use-github-style]) h5 {
  color: @teal;
}

.markdown-preview:not([data-use-github-style]) h6 {
  font-style: italic;
  color: @purple;
}
